body{
    padding-top: 115px;
    background-color: rgb(50, 56, 63);
    color: snow;
    }

    table {
        width: 63%;
        height: 128px;
        margin: 30px 38px;
        text-align: left;
        table-layout: fixed;
        border: 1px solid #525252;
        border-radius: 4px;
        border-spacing: 0;
    }
    th,td {
        padding: 12px 25px;
        height: 23px;
        border-bottom: 1px solid #525252;
    }

    td:nth-child(3) {
        text-align: right;
    }
    
    .badge {
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color:white ;
        position: relative;
        left: 47px;
        bottom: 10px;
    }

      .gost{
      opacity: 0.5;
      }

      .text {
        font-size: 30px;
        position: relative;
        padding-left: 40px;
      }
      .icons {
          position: relative;
        padding-left: 60px;
      }
   .icons::before {
    content: "";
    background-image: url(../image/upload-1.svg);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 20px;
    position: absolute;
   }        

   form {
     width: 140%;
    height: 36px;
    float: right;
    background-color: #444444;
    border-radius: 4px;
    margin-right: 30px;
    color: #727272;
}
input.searchtext {
    border: none;
    background: none;
    
    position: relative;
    padding: 0px;
    left: 0px;
    width: 223px;
    height: 36px;
    text-indent: 30px;
    
}
.icon {
    position: relative;
    left: 60px; 
    top: 9px;
    color: #727272;
   }
   th:last-child {
    padding: 0px;

  }

.point{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #727272;
    display: inline-block;
    margin: 3px;
}
.point.white{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
}
.checkbox {
    padding-right: 13px;
  }